.project_body {
  display: flex;
  flex-direction: column;
}

.project_body iframe {
  align-self: center;
  margin-top: 2rem;
}

.git_button {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.6rem;
}

.bar_display {
    align-self: center;
    height: 5em;
    width: 12em;
    text-align: center;
    margin-top: 2rem;
    background: var(--background-color);
}

.bar {
    background-color: darkgrey;
    outline: none;
    margin: 0.5em 0.1em;
}

.active_bar {
    background-color: limegreen;
}

.arrow_button {
    background-color: whitesmoke;
    border: lightgrey solid 1px;
    outline: none;
    margin-right: 1em;
    margin-left: 1em;
    vertical-align: 1.8em;
    transition: all 0.15s;
}

.arrow_button:hover {
    background-color: lightgrey;
    border-color: grey;
}
.arrow_button:active {
    background-color: grey;
    border-color: black;
}

.bar_display {
    align-self: center;
    height: 5em;
    width: 12em;
    text-align: center;
    margin-top: 2rem;
    background: var(--background-color);
}

.bar {
    background-color: darkgrey;
    outline: none;
    margin: 0.5em 0.1em;
}

.active_bar {
    background-color: limegreen;
}

.arrow_button {
    background-color: whitesmoke;
    border: lightgrey solid 1px;
    outline: none;
    margin-right: 1em;
    margin-left: 1em;
    vertical-align: 1.8em;
    transition: all 0.15s;
}

.arrow_button:hover {
    background-color: lightgrey;
    border-color: grey;
}
.arrow_button:active {
    background-color: grey;
    border-color: black;
}