.dark_mode_toggle {
    display: inline-block;
    padding: 1em 2em;
    outline: none;
    border: none;
    border-radius: 1em;
    font-weight: 500;
    color: var(--color);
    background: #F5E4F5;
    box-shadow:
        0px 4px 5px rgba(0, 0, 0, 0.2),
        0px 3px 14px rgba(0, 0, 0, 0.12),
        0px 8px 10px rgba(0, 0, 0, 0.14);
}

.dark_mode .dark_mode_toggle {
    background: #856679;
}