.dark_mode_toggle {
    display: inline-block;
    position: fixed;
    left: 3rem;
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.25rem;
    font-weight: 500;
}

@media (max-width: 78rem) {	
    .dark_mode_toggle {	
        position: relative;
        left: 0rem;
        margin-bottom: 1rem;
    }	
}