.dark_mode_toggle {
    display: inline-block;
    position: fixed;
    left: 3rem;
}

@media (max-width: 78rem) {	
    .dark_mode_toggle {	
        position: relative;
        left: 0rem;
        margin-bottom: 1rem;
    }	
}