.Home {
    text-align: left;
    font-size: 1.2rem;
}

.Home h2 {
    font-weight: 500;
    font-size: 2.12rem;
    margin-top: 0.7rem;
}

.Contact {
    text-align: left;
    font-size: 1.3rem;
}

.icon {
    vertical-align: middle;
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #856679;
}

.dark_mode .icon {
    color: #FE95D5;
}