.Resume {
    text-align: left;
    font-weight: 500;
    font-size: 1.18rem;
    width: 51%;
    padding: 1rem 3rem;
}

@media (max-width: 60rem) {
    .Resume {
        width: 95%;
        border-radius: 0rem;
    }
}

.no_top_margin {
    margin-top: 0rem;
}

.Resume h2 {
    font-size: 2rem;
}

.Resume hr {
    border: none;
    height: 0.08rem;
    background: var(--color);
}

.Resume ul {
    margin-top: 0rem;
}

.Resume li {
    font-size: 1.7rem;
    height: 1.5rem;
}

.Resume li .bullet_small{
    font-size: 1.25rem;
}

.date {
    float: right;
}