.header {
    height: 5rem;
}

.Navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.Navbar a {
    font-size: 1.5em;
    text-decoration: none;
    color: #616161;
}

.Navbar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}