.App {
    text-align: center;
    --background-color: rgba(255, 255, 255, 0.9);
    --color: black;
    color: var(--color);
  }

.dark_mode {
    --background-color: rgba(37, 37, 37, 0.9);
    --color: white;
}

.dark_mode .background_tint {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.35);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bubble {
    display: inline-block;
    width: 43%;
    padding: 1rem 2rem 2rem 6rem;
    margin-bottom: 2rem;
    background-color: var(--background-color);
    border-radius: 1.5rem;
}

.alex_button {
    background-color: #F5E4F5;
    color: var(--color);
}

.dark_mode .alex_button{
    background-color: #856679;
}

@media (max-width: 60rem) {
    .bubble {
        width: 100%;
        border-radius: 0rem;
    }
}