.App {
    text-align: center;
    --background-color: rgba(255, 255, 255, 0.9);
    --color: black;
    color: var(--color);
  }

.dark_mode {
    --background-color: rgba(37, 37, 37, 0.9);
    --color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bubble {
    display: inline-block;
    width: 70%;
    padding: 1em 2em 1em 5em;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: var(--background-color);
    border-radius: 1em;
}