.Project {
    padding: 1em 2em 1em 2em;
    margin-bottom: 2rem;
    background-color: white;
    --project-width: 26rem;
    --wide-width: 30rem;
    width: var(--project-width);
}
  

@media (min-width: 35rem) {
    .left {
        margin-left: 10%;
    }
    
    .wide {
        width: var(--wide-width);
    }

    .right {
        margin-left: calc(88% - var(--wide-width));
    }
}