.project_body {
  display: flex;
  flex-direction: column;
}

.git_button {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.6rem;
}

.scratch {
    align-self: center;
    text-align: center;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 500;
}