.Project {
    padding: 1em 2em 1em 2em;
    margin-bottom: 2rem;
    background-color: var(--background-color);
    --project-width: 26rem;
    --wide-width: 30rem;
    width: var(--project-width);
}

.git_button {
}

.bar_display {
    text-align: center;
    margin-top: 2rem;
}

.bar {
    background-color: darkgrey;
    outline: none;
    margin-right: 0.1em;
    margin-left: 0.1em;
}

.active_bar {
    background-color: limegreen;
}

.arrow_button {
    background-color: whitesmoke;
    border: lightgrey solid 1px;
    outline: none;
    margin-right: 1em;
    margin-left: 1em;
    vertical-align: top;
    transition: all 0.15s;
}

.arrow_button:hover {
    background-color: lightgrey;
    border-color: grey;
}
.arrow_button:active {
    background-color: grey;
    border-color: black;
}