.Tab {
    flex-grow: 1;
    height: 5rem;
}

@media (max-width: 35rem) {
    .Tab {
        height: 2.5rem;
    }
}

.Tab a {
    height: 100%;
    width: 100%;
    padding-right: 1em;
    outline: darkgrey solid 2px;
    background: linear-gradient(white, lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tab .active {
    color: black;
    background: linear-gradient(lightgrey, white);
}