.Tab {
    flex-grow: 1;
    height: 4rem;
}

.Tab a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tab a:hover {
    text-decoration: underline;
}

.Tab .active {
    background: rgba(189, 158, 196, 0.3);
}

.Tab:active {
    background: rgba(189, 158, 196, 0.2);
}